@use '@angular/material' as mat;
.mat-mdc-button-base {
  margin: 4px;
}
.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info-item span {
  font-size: 14px;
  color: gray;
}

.info-item strong {
  font-size: 16px;
  color: black;
}

.progress-container {
  margin-top: 16px;
}

.progress-label {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 14px;
  color: gray;
}
.demo-chart {
  height: 400px;
}

mat-button-toggle-group {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}


// Customize the entire app. Change :root to your selector if you want to scope the styles.
.time-range-selector {
  @include mat.button-toggle-overrides((
    height: 25px,
    //legacy-height: 20px,
  ));
}

.mat-mdc-card-header {
  justify-content: space-between;
}
