@use '../style/breakpoints';

.matero-sidebar-header {
  overflow: hidden;

  mat-toolbar {
    width: var(--sidenav-width);
    padding: 0 0.5rem;
  }

  // Remove redundant padding in the slide toggle
  mat-slide-toggle .mdc-label {
    display: none;
  }
}

.matero-sidebar-main {
  height: calc(100% - var(--mat-toolbar-standard-height));
  padding: 0 0.5rem 0.5rem;
  overflow: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--mat-toolbar-standard-height));

  @include breakpoints.bp-lt(small) {
    & {
      height: calc(100% - var(--mat-toolbar-mobile-height));
    }
  }
}

app-sidemenu {
  flex-grow: 1; // Hace que el sidemenu ocupe el espacio disponible
  overflow-y: auto; // Permite scroll en el sidemenu si es necesario
}

.admin-button-container {
  margin-top: auto; // Empuja el botón hacia abajo si el sidebar tiene espacio
  padding-top: 16px; // Espacio arriba
  padding-bottom: 16px; // Espacio abajo
  //border-top: 1px solid var(--mat-divider-color); // Línea divisoria opcional
}

